@import 'reset'
@import 'mixins'

/* MY STYLES */

body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

#logger
  font-weight: bold

#box
  width: 100px
  height: 100px
  background: #333
  margin: 20px
  transition: all 0.2s ease